{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}" />
<script type="text/javascript" src="{% static 'search/js/modernizr.js' %}"></script>
<script type="text/javascript">
    Modernizr.load({
      test: Modernizr.flexbox,
      nope : "{% static 'search/css/ink-legacy.min.css' %}"
    });
</script>
<link rel="stylesheet" type="text/css" href="{% static 'search/css/ink-flex.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'search/css/font-awesome.min.css' %}">
    <!-- Load Documentation site CSS -->

    <!--[if lt IE 9 ]>
        <link rel="stylesheet" href="/assets/css/ink-ie.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->

    <script type="text/javascript" src="{% static 'search/js/ink-all.min.js' %}"></script>


        <style type="text/css">

            body {
                background: #ededed;
            }
            header {
                padding: 2em 0;
                margin-bottom: 2em;
            }
            header h1 {
                font-size: 2em;
            }
            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }
            footer {
                background: #ccc;
            }

        </style>




            <header>
                <div></div><p></p>
              <center>
                <h1>Robo Watch <small>Search</small></h1>
              </center>
            </header>




{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<center>



</center>  



        <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
                </p>
            </div>
            -->

            <!-- Add your site or application content here -->

            <div class="column-group gutters">
                <div class="all-90 push-center">
                    <h3>Video Results</h3>
                    {% if videos %}
                    <form action="{% url 'search:searchSel'%}" class="ink-form" method="post">
                        {% csrf_token %}
                                                 <div class="column-group gutters">
                        {% for vid in videos %}
                         <div class="all-25">
                            <iframe width="300" height="169" src="//www.youtube.com/embed/{{ vid }}" frameborder="0" allowfullscreen></iframe>
                            <br>
                            <input type="checkbox" name="{{ vid }}" val="T"> Include in the Queue
                        </div>
                        {% endfor %}
                     </div>
                    <input type="hidden" name="q" value="{{ pid }}">
                    <button class="ink-button"><i class="icon-search"></i>Process Selected Videos</button>
                    </form>
                    {% else %}
                        <p>No videos are available.</p>
                    {% endif %}

                </div>
            </div>
        </div>
